#bottomMenu {
    position: absolute;
    right: 23%;
    bottom: 0%;
    height: 20%;
    width: 65%;
    background-color: rgba(33, 37, 40, 1);
}

#rightMenu {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 100vh;
    width: 23%;
    background-color: rgba(33, 37, 40, 1);
}
